@model IEnumerable<Category>

@{
    ViewData["Title"] = "Category's List";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Category</li>
    </ol>
</nav>
<h2>Category's List</h2>

<div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <button style="background-color: white; border: 2px solid #FF7F50; border-radius: 12px;" class="btn-lg" type="button">
        @Html.ActionLink("Add Category", "Create")
    </button>
</div>
<br />

<table class="table" id="tblSCategory">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Picture)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <img src="@String.Format("data:image/jpg;base64,{0}", item.Base64String)" />
            </td>
            <td>
                <div>
                    <button style="background-color: white; border: 2px solid #FF7F50; border-radius: 12px;" type="button">
                        @Html.ActionLink("Edit", "Edit", new { id = item.CategoryID })
                    </button>
                    <button style="background-color: white; border: 2px solid #FF7F50; border-radius: 12px;" type="button">
                        @Html.ActionLink("Details", "Details", new { id = item.CategoryID })
                    </button>
                    <button style="background-color: white; border: 2px solid #FF7F50; border-radius: 12px;" type="button">
                        @Html.ActionLink("Delete", "Delete", new { id = item.CategoryID })
                    </button>
                </div>
            </td>
        </tr>
        }
    </tbody>
</table>
