@page "/edit-example/{id}"
@using MudBlazor
@inject HttpClient Http
@inject NavigationManager NavigationManager

<div class="edit-example">

<h3>Editar Exemplo</h3>

<EditForm Model="@Example" OnValidSubmit="@Edit">

    <div class="form-group">
        <label for="text">Texto:</label>
        <InputText id="text" @bind-Value="@Example.Text" class="form-control" />
    </div>

    <div class="form-control-file">
        <label style="box-shadow: 0 2px 7px #4caf50;
        display: inline-flex;
        width: 9%;
        justify-content: space-around;
        border-radius: 2em;
        color: white;
        border: 2px solid;
        cursor: pointer;
        align-items: center;
        padding: 16px;
        background-color: #4caf50;" for="fileInput">Upload<MudIcon Icon="@Icons.Filled.CloudUpload" /></label>

        <InputFile id="fileInput" OnChange="UploadFile" hidden multiple />.

    </div>

    @if (Example.Image != null)
    {
        <div class="col-6">
            <img style="width:100%; height: auto" src="@ConvertImageToDisplay(Example.Image)" />
        </div>

        <button type="submit" class="btn btn-danger" @onclick="RemoveImage">Remover Imagem</button><br /><br />
    }

    <button type="submit" class="btn btn-success">Salvar</button>
    <button class="btn btn-secondary" @onclick="@(() => NavigationManager.NavigateTo($"https://localhost:5001/Lets/{Example.SubjectID}", true))">Voltar</button>

</EditForm>

</div>
<br />  

<style>
    .edit-example {
        margin-left: 15px;
        margin-top: 20px;
    }

    .form-group {
        margin-top: 2rem;
    }

    .col-6 {
        margin-bottom: 1rem;
    }
</style>
